* {
  font-family: Courier New;
} 

html { 
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: 100% 100%;
}
header {
  background-color: #daaddb;
  color: white;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

footer {
  background-color: #daaddb;
  padding: 5px;
  border-radius: 15px;
  flex-shrink: 0;
  text-align: center;
}
body {
  padding: 0 5% 0 5%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

h4 {
  font-size: 16px;
  text-align: center;
}

h5 {
  font-size: 14px;
  text-align: center;
}

/*.calculate, .viewResults {
  background: #daaddb;
  text-align: center;
  border-radius: 25px;
  box-shadow: 10px 10px 20px #c87dca;
}*/
/* Calculate you Budget */
<button type="Calculate Your Budget">Click Me!</button>
button style="background: url(myimage.png)"

.container {
  height:100%;
  width: 100%;
  text-align: center;
}

.line {
  flex-wrap: wrap;
}
  
.intro {
  background: #daaddb;
  margin: 80px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* rounding the corners */
  border-radius: 15px;
}

section {
  background: #daaddb;
  margin: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  /* shadow */
  box-shadow: 0px 15px 30px  #c87dca;
  
}

form {
  margin: 10%;
}

.submit {
  padding: 0 0 60px 0;
  padding-left: 50%;
}

button {
  background: #daaddb;

}
