* {
  font-family: Georgia;
  color: #382247;
} 

html { 
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-size: 100% 100%;
}
header {
  background-color: #daaddb;
  color: white;
  padding: 5px;
  border-radius: 15px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-color: #daaddb;
  padding: 5px;
  border-radius: 15px;
  flex-shrink: 0;
  text-align: center;
}
body {
  padding: 0 5% 0 5%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
      font-size: 25px;
    text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

h4 {
  font-size: 16px;
  text-align: center;
}

h5 {
  font-size: 30px;
  text-align: center;
}

.title {
  text-decoration: none;
}

.container {
  height:100%;
  width: 100%;
  text-align: center;
}

.line {
  flex-wrap: wrap;
}
  
.intro {
  background: #daaddb;
  margin: 40px;
  margin-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* rounding the corners */
  border-radius: 15px;
}

section {
  background: #daaddb;
  margin: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  /* shadow */
  box-shadow: 0px 15px 30px  #c87dca;
  
}

form {
  margin: 7%;
}

.submit {
  padding: 0 0 60px 0;
  padding-left: 50%;
}

button, .button {
  background: #daaddb;
}

.btnC {
  background: #daaddb;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
  border: 0px;
  box-shadow: 0px 15px 30px #c87dca;
}

.purple {
  background: #c87dca;
}

.download-report {
  padding: 10px;
  margin: 40px;
  font-size: 16px;
}